<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Test-->
		<add name ="AioiVehicleDetails" connectionString="Data Source=BD-ISDEV01; Initial Catalog=TPAPolData; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--Live-->
		<!--<add name ="AioiVehicleDetails" connectionString="Data Source=BK-SQLVM01\LIVE; Initial Catalog=TPAPolData; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<!--Test-->
		<add key ="Path" value="C:\Users\K81273\source\repos\AIOIDailyFeed\"/>
		<add key ="LogPath" value="C:\Program Files\brokerdirect\AIOIProcessingLog\"/>
		<add key ="Directory" value = "C:\Users\K81273\source\repos\AIOIDailyFeed\"/>
		<!--<add key ="ArchPath" value ="C:\Program Files\brokerdirect\AIOIArchive\"/>-->
		<!--Live   ACTUAL PATHS NEED TO BE CONFIRMED  -->
		<!--<add key ="Path" value= "N:\DailyFiles\AIOI\VehicleData\" />
		<add key ="LogPath" value = "N:\DailyFiles\AIOI\VehicleData\AIOIProcessingLog" />
		<add key ="Directory" value = "N:\DailyFiles\AIOI\VehicleData\"/>-->
		<add key ="archpath" value ="N:\dailyfiles\aioi\vehicledata\archive\"/>
	</appSettings> 
</configuration>