<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Test-->
		<add name ="AioiVehicleDetails" connectionString="Data Source=BD-ISDEV02\SQL01; Initial Catalog=TPAPolData; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name ="AioiPolicy" connectionString="Data Source=BD-ISDEV02\SQL01; Initial Catalog=TPAPolData; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name ="ErrorLog" connectionString="Data Source=BD-ISDEV02\SQL03; Initial Catalog = CAMS; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--Live-->
		<!--<add name ="AioiVehicleDetails" connectionString="Data Source=BD-SQL01; Initial Catalog=TPAPolData; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name ="AioiPolicy" connectionString="Data Source=BD-SQL01; Initial Catalog=TPAPolData; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<!--<add name ="ErrorLog" connectionString="Data Source=BD-SQL03; Initial Catalog = CAMS; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<!--Test-->
		<add key ="Path" value="C:\Users\K81273\source\repos\AIOIDailyFeed\"/>
		<add key ="LogPath" value="C:\Program Files\brokerdirect\AIOIProcessingLog\"/>
		<add key ="Directory" value = "C:\Users\K81273\source\repos\AIOIDailyFeed\"/>
		<add key ="ArchPath" value ="C:\Program Files\brokerdirect\AIOIArchive\"/>
		<!--Live-->
		<!--<add key ="Path" value= "N:\DailyFiles\AIOI\VehicleData\" />
		<add key ="LogPath" value = "N:\DailyFiles\AIOI\VehicleData\AIOIProcessingLog\" />
		<add key ="Directory" value = "N:\DailyFiles\AIOI\VehicleData\"/>
		<add key ="Archpath" value ="N:\DailyFiles\AIOI\VehicleData\Archive\"/>-->
	</appSettings>
</configuration>